{% assign articlePage = page %}
{% if post %}
	{% assign articlePage = post %}
{% endif %}

<!-- leave this as page.layout for home to view correctly -->
<article class="{{ page.layout }}">
  {% include _title.html %}
	{% if articlePage.layout == "post" %}
		{% include _byline.html %}
	{% endif %}
    <div class="article-wrap">
      <p>
        {% include _teaser.html %}
      </p>

      {% if page.layout == "post" %}
        {{ content }}
        
        {% include _social-share.html %}
      
        <section id="disqus_thread"></section><!-- /#disqus_thread -->
        
        {% include _related_posts.html %}
      {% else if articlePage.layout == "post" %}
        {{ articlePage.content }}
      
        {% include _social-share.html %}
      {% else if page.layout == "page" %}
        {{ content }}
        
        {% include _social-share.html %}
      {% endif %}
      
      
    </div><!-- /.article-wrap -->

</article>