{% include _head.html %}

<div id="main" role="main">
  {% include _author-bio.html %}
  
  {% include _article.html %}
  
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
</div><!-- /#main -->

{% include _footer.html %}